<h1>Word List</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Speaker</th>
      <th>Description</th>
      <th>Registrant</th>
      <th>Like</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td>
          <% if word.speaker.nil? %>
            unknown
          <% else %>
            <%= word.speaker.name %>
          <% end %>
        </td>
        <td><%= word.description %></td>
        <td>
          <% if word.registrant.nil? %>
            unknown
          <% else %>
            <%= word.registrant.name %>
          <% end %>
        </td>
        <td><%= link_to '<span class="glyphicon glyphicon-thumbs-up"></span>'.html_safe,
                {controller: "words", action: "vote", id: word.id}, {method: :put} %> <%= word.count %>
        <td><%= word.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
