<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @word.description %>
</p>

<p>
  <strong>Count:</strong>
  <%= @word.count %>
</p>

<p>
  <strong>Person:</strong>
  <%= @word.person_id %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
